* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 160vh;
  font-family: "Roboto", sans-serif;
}
.navbar {
  width: 20%;
  background-color: rgb(77, 77, 255);
  height: 160vh;
  font-size: small;
  color: white;
}
.navlist {
  padding-top: 200px;
}
.navlist li {
  padding-bottom: 10px;
  text-align: center;
}
.navlist a {
  text-decoration: none;
  font-size: 15px;
}
.navbot {
  margin-top: 270px;
  /* padding-bottom: 10px; */
  font-size: 15px;
}
.navbot li {
  padding-bottom: 10px;
  padding-left: 20px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  /* list-style-type: none; */
  color: white;
}
.navlinks a:hover,
.navlinks a:active {
  color: #fd652c;
  text-decoration: underline 2px;
  /* transform: translate(10px); */
}
#navlinks {
  display: flex;
  gap: 5px;
}
.portfolio {
  display: flex;
}

#icon {
  background-color: white;
  width: 10%;
  text-align: center;
  border-radius: 80%;
  padding: 5px 0px;
  color: rgb(40, 40, 248);
}
/* #icon1 {
  background-color: rgb(77, 77, 255);
  width: 2%;
  text-align: center;
  border-radius: 80%;
  padding: 5px 15px;
  color: white;
  padding-left: 4.5px;
  justify-content: center;
} */
#inside {
  padding-top: 5px;
}

.body {
  width: 80%;
}
.content {
  display: block;
}
.heading {
  margin-top: 5%;
  margin-right: 20%;
  float: right;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading p {
  background-color: linear-gradient(to right, rgb(77, 77, 255), #fd652c);
}
.box {
  height: 50px;
  width: 100px;
  background-color: #ff8457;
  margin-left: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  box-shadow: 30px 30px;
}
.box0 {
  height: 10px;
  width: 200px;
  background-color: rgb(77, 77, 255);
  margin-left: 35%;
  border-radius: 0px 10px;
}
.box1 {
  height: 40px;
  width: 40px;
  background-color: #ff8457;
  margin-left: 600px;
  /* clip-path: polygon(50% 0%, 0% 30%, 0% 50%, 50% 100%, 30% 30%, 100% 50%); */
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transform: rotate(90deg);
}
.img {
  background-color: rgb(77, 77, 255);
  box-shadow: 3px 3px 3px 2px 2px gray;
  width: 120%;
  height: 55vh;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
  transform: rotate(90deg);
  margin-top: -40%;
  margin-left: -5%;
}

.shadow {
  filter: drop-shadow(0 5px 10px black);
}
#rom {
  background-color: white;
  width: 70%;
  height: 40vh;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
}
.image img {
  position: absolute;
  margin-top: 15px;
  height: 80px;
  width: 80px;
}

.rect {
  width: 20%;
  margin-top: 20%;
}
.rect h1 {
  background-color: rgb(77, 77, 255);
  color: white;
  font-size: large;
  text-align: center;
  padding: 10px 0px;
  border-radius: 0px 30px 0px 0px;
}

.about p {
  padding-left: 20px;
}
.educate {
  margin-top: -18%;
}
.educate p {
  width: 50%;
  padding-left: 35px;
}
.footer p {
  padding-top: 3%;
  text-align: center;
}
.h3 {
  display: flex;
  padding-left: 20px;
  gap: 5px;
}
.dot {
  background-color: rgb(77, 77, 255);
  height: 10px;
  width: 10px;
  margin-top: 6px;
  border-radius: 10px;
}
.img img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  transform: rotate(-90deg);
}

footer {
  display: flex;
  padding-top: 40px;
  gap: 20px;
  padding-left: 40%;
  margin-top: 40px;
}
footer h3 {
  color: rgb(77, 77, 255);
}
.foot {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(77, 77, 255);
  text-align: center;
  color: rgb(77, 77, 255);
  font-size: 23px;
}
.foot a {
  color: rgb(77, 77, 255);
}
#foot {
  display: flex;
  margin-top: -5px;
  gap: 5px;
}
@media screen and (max-width: 800px) {
  body {
    font-size: small;
    width: 100%;
  }
  .navbar {
    width: 20%;
  }
  .navbar a {
    font-size: 11px;
  }
  .navbot li {
    font-size: 10px;
    padding: 0;
  }
  .navbot a {
    font-size: 10px;
    padding: 0;
  }
  .img {
    width: 120%;
    height: 35vh;
    margin-top: -63%;
  }
  #rom {
    height: 20vh;
    margin-top: 30%;
  }
  .navbar #rom .image img {
    margin-top: 8px;
    margin-left: 15px;
    height: 120px;
    width: 120px;
  }
  .heading {
    margin-right: -10%;
  }
  .rect {
    width: 30%;
  }
  .rect h1 {
    font-size: medium;
    padding-left: 10px;
  }
  footer {
    margin-top: 70%;
  }
}
