* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 160vh;
  font-family: "Roboto", sans-serif;
}
.navbar {
  width: 20%;
  background-color: rgb(77, 77, 255);
  height: 160vh;
  font-size: small;
  color: white;
}
.navlist {
  padding-top: 200px;
}
.navlist li {
  padding-bottom: 10px;
  text-align: center;
}
.navlist a {
  text-decoration: none;
}
.navbot {
  margin-top: 70%;
  padding-top: 350px;
  font-size: 15px;
}
.navbot li {
  padding-bottom: 10px;
  padding-left: 20px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navlinks a:hover,
.navlinks a:active {
  color: #fd652c;
  text-decoration: underline 2px;
}
#navlinks {
  display: flex;
  gap: 5px;
}
.portfolio {
  display: flex;
}

#icon {
  background-color: white;
  width: 10%;
  text-align: center;
  border-radius: 80%;
  padding: 5px 0px;
  color: rgb(40, 40, 248);
}
#inside {
  padding-top: 5px;
}

.body {
  width: 80%;
}
.heading {
  margin-top: 5%;
  margin-right: 20%;
  float: right;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* .heading p {
  color: linear-gradient(#782fef 50%, #fd652c 54%);
} */

.body {
  width: 80%;
}
.content {
  display: block;
}
.heading {
  margin-top: 5%;
  margin-right: 20%;
  float: right;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.box {
  height: 50px;
  width: 100px;
  background-color: #ff8457;
  margin-left: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.box0 {
  height: 10px;
  width: 200px;
  background-color: rgb(77, 77, 255);
  margin-left: 35%;
  border-radius: 0px 10px;
}
.box1 {
  height: 40px;
  width: 40px;
  background-color: #ff8457;
  margin-left: 600px;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transform: rotate(90deg);
}
.rect {
  width: 20%;
  margin-top: 20%;
}
.rect h1 {
  background-color: rgb(77, 77, 255);
  color: white;
  font-size: large;
  text-align: center;
  padding: 10px 0px;
  border-radius: 0px 30px 0px 0px;
}
.skills p {
  padding-left: 20px;
}
.refer {
  margin-top: -18%;
}
.refer p {
  width: 50%;
  padding-left: 35px;
}
.btn {
  background-color: rgb(168, 167, 167);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  text-align: center;
  margin-left: 80px;
  width: 30%;
}
.btn a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
.btn-grey:hover,
.btn-grey:active {
  color: rgb(0, 0, 0);
}
.list {
  padding-left: 20px;
  list-style: none;
}
.sublist {
  padding-left: 105px;
  list-style: square;
  margin-top: -19px;
}
footer {
  display: flex;
  gap: 20px;
  padding-left: 50%;
  margin-top: -3%;
}
footer h3 {
  color: rgb(77, 77, 255);
}
.foot {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(77, 77, 255);
  text-align: center;
  color: rgb(77, 77, 255);
  font-size: 23px;
}
.foot a {
  color: rgb(77, 77, 255);
}
#foot {
  display: flex;
  margin-top: -5px;
  gap: 5px;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  body {
    font-size: small;
  }
  .navbar {
    width: 40%;
  }
  .navbar a {
    font-size: 11px;
  }
  .navbot li {
    font-size: 10px;
    padding: 0;
  }
  .navbot a {
    font-size: 10px;
    padding: 0;
  }
  .heading {
    margin-right: 10%;
  }
  .rect {
    width: 30%;
  }
  .rect h1 {
    font-size: medium;
    padding-left: 10px;
  }
  .btn {
    width: 50%;
  }
}
